* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-family: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --color-nav: #BE3144;
    --color-principal: #242426;
    --color-secundario: #45567D;
    --color-terciario: #303841;
    --color-text: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    color:var(--color-text);
    line-height: 1.4;
}

/* Nav */

#navbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--color-nav);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    padding-right: 1rem;
    border-bottom: 3px solid #161618;
}

#navbar ul {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    height: 100%;
}

#navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    width: 8rem;
    height: 100%;
}

#navbar ul li:hover {
    background-color: var(--color-secundario);
}

#navbar ul li a {
    color: var(--color-text);
    text-decoration: none;
}

/* Seccion Principal */

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-principal);
}

#welcome-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

#welcome-section h2 {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--color-nav);
}

/* Seccion de Proyectos */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    background-color: var(--color-secundario);
    color: var(--color-text);
    width: 100%;
    padding: 2rem;
}

#projects h2 {
    font-size: 2rem;
    font-weight: bold;
}

#projectsss {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    padding: 2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: var(--color-terciario);
    border-radius: .4rem;
}

.projects a {
    height: 100%;
}

.projects a img{
    max-width: 100%;
    height: 100%;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
}

.project-tile .code {
    color: var(--color-terciario);
    transition: color 0.3s ease-out;
}


.project-tile {
    font-size: 1.1rem;
    font-weight: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.project-tile:hover .code {
    color: var(--color-nav);
}

#btn {
    text-align: center;
    background: var(--color-terciario);
    width: 9rem;
    height: 2.9rem;
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 1rem;
    border-radius: .1rem;
    border: none;
    word-spacing: .5rem;
    transition: background 0.3s ease-out;
    padding: .5rem;
}


#btn span {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    font-size: 1.5rem;
}


#btn:hover, #btn:focus {
    cursor: pointer;
    background: var(--color-nav);
}
/* Seccion de Network Social*/
